//Colors
$color1: #362143 ;
$color2: #DB649C ;
$color3: #754792 ;
$color4: #FF9800;
$color5: #1976D2;
$color6: #8BC34A;
$color7: #00BCD4;


body {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    position: fixed;
    max-width: 100%;
    height: auto;
  }

  .screen{
    height: 100vh;
    width: 100%;
  }

  #color1{
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #color2{
    background-color: $color2;
  }
  #color3{
    background-color: $color3;
  }
  #color4{
    background-color: $color4;
  }
  #color5{
    background-color: $color5;
  }
  #color6{
    background-color: $color6;
  }
  #color7{
    background-color: $color7;
    height: 120vh !important;
  }
}
